 {% extends 'layout/base.html' %}

 {% block mainbody %}
 {% load static %}
 <style>
     .hero__items {
         height: 591px;
         padding-top: 117px;
     }

     .banner__item.banner__item--middle {
         margin-top: 31px;
     }

     .banner__item.banner__item--middle .banner__item__text {
         padding: 5px;
         margin-top: -114px;
         background-color: rgba(251, 251, 251, 0.79);
     }
 </style>
 <!-- Hero Section Begin -->
 <section class="hero">
     <div class="hero__slider owl-carousel">

         {% for banner in homebanner %}
         <div class="hero__items set-bg" data-setbg="{% get_media_prefix %}{{banner.background_image}}">
             <div class="container">
                 <div class="row">
                     <div class="col-xl-5 col-lg-7 col-md-8">
                         <div class="hero__text">
                             <h6>{{banner.maintitle}}</h6>
                             <h2>{{banner.title}}</h2>
                             <p>{{banner.small_description}}</p>
                             {% if banner.shop_link %}
                             <a href="{{banner.shop_link}}" class="primary-btn">Shop now <span
                                     class="arrow_right"></span></a>
                             {% else %}
                             <a href="{% url 'shop' %}" class="primary-btn">Shop now <span
                                     class="arrow_right"></span></a>
                             {% endif %}
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         {% endfor %}
     </div>
 </section>
 <!-- Hero Section End -->

 <!-- Banner Section Begin -->
 <section class="banner spad">
     <div class="container">
         <h2>All Category</h2>
         <div class="row">
             {% for cate in allcategory %}
             <div class="col-lg-4">
                 <div class="banner__item banner__item--middle">
                     <div class="banner__item__pic">
                         <img src="{% get_media_prefix %}{{cate.image}}" alt="">
                     </div>
                     <div class="banner__item__text">
                         <h2>{{cate.title}}</h2>
                         <a href="{% url 'shop' %}?category={{cate.slug}}">Shop now</a>
                     </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </section>
 <!-- Banner Section End -->

 <!-- Product Section Begin -->
 <section class="product spad">
     <div class="container">

         <div class="row">
             <div class="col-lg-12">
                 <ul class="filter__controls">
                     <li class="active" data-filter="*">Best Sellers</li>
                     <li data-filter=".new-arrivals">New Arrivals</li>
                     <li data-filter=".hot-sales">Hot Sales</li>
                 </ul>
             </div>
         </div>
         <div class="row product__filter">
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-1.jpg">
                         <span class="label">New</span>
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Piqué Biker Jacket</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$67.24</h5>
                         <div class="product__color__select">
                             <label for="pc-1">
                                 <input type="radio" id="pc-1">
                             </label>
                             <label class="active black" for="pc-2">
                                 <input type="radio" id="pc-2">
                             </label>
                             <label class="grey" for="pc-3">
                                 <input type="radio" id="pc-3">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-2.jpg">
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Piqué Biker Jacket</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$67.24</h5>
                         <div class="product__color__select">
                             <label for="pc-4">
                                 <input type="radio" id="pc-4">
                             </label>
                             <label class="active black" for="pc-5">
                                 <input type="radio" id="pc-5">
                             </label>
                             <label class="grey" for="pc-6">
                                 <input type="radio" id="pc-6">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                 <div class="product__item sale">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-3.jpg">
                         <span class="label">Sale</span>
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Multi-pocket Chest Bag</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$43.48</h5>
                         <div class="product__color__select">
                             <label for="pc-7">
                                 <input type="radio" id="pc-7">
                             </label>
                             <label class="active black" for="pc-8">
                                 <input type="radio" id="pc-8">
                             </label>
                             <label class="grey" for="pc-9">
                                 <input type="radio" id="pc-9">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-4.jpg">
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Diagonal Textured Cap</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$60.9</h5>
                         <div class="product__color__select">
                             <label for="pc-10">
                                 <input type="radio" id="pc-10">
                             </label>
                             <label class="active black" for="pc-11">
                                 <input type="radio" id="pc-11">
                             </label>
                             <label class="grey" for="pc-12">
                                 <input type="radio" id="pc-12">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-5.jpg">
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Lether Backpack</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$31.37</h5>
                         <div class="product__color__select">
                             <label for="pc-13">
                                 <input type="radio" id="pc-13">
                             </label>
                             <label class="active black" for="pc-14">
                                 <input type="radio" id="pc-14">
                             </label>
                             <label class="grey" for="pc-15">
                                 <input type="radio" id="pc-15">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                 <div class="product__item sale">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-6.jpg">
                         <span class="label">Sale</span>
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Ankle Boots</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$98.49</h5>
                         <div class="product__color__select">
                             <label for="pc-16">
                                 <input type="radio" id="pc-16">
                             </label>
                             <label class="active black" for="pc-17">
                                 <input type="radio" id="pc-17">
                             </label>
                             <label class="grey" for="pc-18">
                                 <input type="radio" id="pc-18">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-7.jpg">
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>T-shirt Contrast Pocket</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$49.66</h5>
                         <div class="product__color__select">
                             <label for="pc-19">
                                 <input type="radio" id="pc-19">
                             </label>
                             <label class="active black" for="pc-20">
                                 <input type="radio" id="pc-20">
                             </label>
                             <label class="grey" for="pc-21">
                                 <input type="radio" id="pc-21">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                 <div class="product__item">
                     <div class="product__item__pic set-bg"
                         data-setbg="{% get_static_prefix %}img/product/product-8.jpg">
                         <ul class="product__hover">
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/heart.png" alt=""></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/compare.png" alt="">
                                     <span>Compare</span></a></li>
                             <li><a href="#"><img src="{% get_static_prefix %}img/icon/search.png" alt=""></a></li>
                         </ul>
                     </div>
                     <div class="product__item__text">
                         <h6>Basic Flowing Scarf</h6>
                         <a href="#" class="add-cart">+ Add To Cart</a>
                         <div class="rating">
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <h5>$26.28</h5>
                         <div class="product__color__select">
                             <label for="pc-22">
                                 <input type="radio" id="pc-22">
                             </label>
                             <label class="active black" for="pc-23">
                                 <input type="radio" id="pc-23">
                             </label>
                             <label class="grey" for="pc-24">
                                 <input type="radio" id="pc-24">
                             </label>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Product Section End -->

 <!-- Categories Section Begin -->
 <section class="categories spad">
     <div class="container">
         <div class="row">
             <div class="col-lg-3">
                 <div class="categories__text">
                     <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="categories__hot__deal">
                     <img src="{% get_static_prefix %}img/product-sale.png" alt="">
                     <div class="hot__deal__sticker">
                         <span>Sale Of</span>
                         <h5>$29.99</h5>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 offset-lg-1">
                 <div class="categories__deal__countdown">
                     <span>Deal Of The Week</span>
                     <h2>Multi-pocket Chest Bag Black</h2>
                     <div class="categories__deal__countdown__timer" id="countdown">
                         <div class="cd-item">
                             <span>3</span>
                             <p>Days</p>
                         </div>
                         <div class="cd-item">
                             <span>1</span>
                             <p>Hours</p>
                         </div>
                         <div class="cd-item">
                             <span>50</span>
                             <p>Minutes</p>
                         </div>
                         <div class="cd-item">
                             <span>18</span>
                             <p>Seconds</p>
                         </div>
                     </div>
                     <a href="#" class="primary-btn">Shop now</a>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Categories Section End -->

 {% endblock mainbody %}