 {% load static %}
 <!-- Footer Section Begin -->
 <footer class="footer">
     <div class="container">
         <div class="row">
             <div class="col-md-4">
                 <div class="footer__about">
                     <div class="footer__logo">
                         <a href="#"><img src="{% get_media_prefix %}{{site_data.logo_white}}" alt=""></a>
                     </div>
                     <p>{{site_data.short_footer_details}}</p>
                     <a href="#"><img src="{% get_static_prefix %}img/payment.png" alt=""></a>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="footer__widget">
                     <h6>Shopping</h6>
                     <ul>
                         <li><a href="#">Clothing Store</a></li>
                         <li><a href="#">Trending Shoes</a></li>
                         <li><a href="#">Accessories</a></li>
                         <li><a href="#">Sale</a></li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="footer__widget">
                     <h6>Shopping</h6>
                     <ul>
                         <li><a href="#">Contact Us</a></li>
                         <li><a href="#">Payment Methods</a></li>
                         <li><a href="#">Delivary</a></li>
                         <li><a href="#">Return & Exchanges</a></li>
                     </ul>
                 </div>
             </div>

         </div>
         <div class="row">
             <div class="col-lg-12 text-center">
                 <div class="footer__copyright__text">
                     <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     <p>Copyright © {{year}} Designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                             href="https://colorlib.com" target="_blank">Colorlib</a>
                     </p>
                     <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                 </div>
             </div>
         </div>
     </div>
 </footer>
 <!-- Footer Section End -->