 {% load static %}
 <!-- Js Plugins -->
 <script src="{% get_static_prefix %}js/jquery-3.3.1.min.js"></script>
 <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
 <script src="{% get_static_prefix %}js/jquery.nice-select.min.js"></script>
 <script src="{% get_static_prefix %}js/jquery.nicescroll.min.js"></script>
 <script src="{% get_static_prefix %}js/jquery.magnific-popup.min.js"></script>
 <script src="{% get_static_prefix %}js/jquery.countdown.min.js"></script>
 <script src="{% get_static_prefix %}js/jquery.slicknav.js"></script>
 <script src="{% get_static_prefix %}js/mixitup.min.js"></script>
 <script src="{% get_static_prefix %}js/owl.carousel.min.js"></script>
 <script src="{% get_static_prefix %}js/main.js"></script>