{% load static %}
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/nice-select.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css">