{% extends 'layout/base.html' %}

{% block mainbody %}
{% load static %}
<style>
    img {
        width: auto;
    }
</style>
<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__details__breadcrumb">
                    <a href="./index.html">Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Product Details</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="product__details__pic">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% for prodimg in product.product_images.all %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if forloop.first %} active {% endif %}" data-toggle="tab"
                                            href="#tabs-{{forloop.counter}}" role="tab">
                                            <div class="product__thumb__pic set-bg"
                                                data-setbg="{% get_media_prefix %}{{prodimg.image}}">
                                            </div>
                                        </a>
                                    </li>

                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="tab-content">
                                    {% for prodimg in product.product_images.all %}
                                    <div class="tab-pane {% if forloop.first %} active {% endif %}"
                                        id="tabs-{{forloop.counter}}" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img src="{% get_media_prefix %}{{prodimg.image}}" alt="" width="300">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="product__details__content">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <div class="product__details__text">
                                        <h4>{{product.title}}</h4>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span> - 5 Reviews</span>
                                        </div>
                                        <h3>${{product.selling_price}} <span>{{product.marked_price}}</span></h3>
                                        <p>{{product.description|safe|truncatewords:44}}</p>
                                        <div class="product__details__option">
                                            {% if product.size %}
                                            <div class="product__details__option__size">
                                                <span>Size:</span>
                                                {% for size in product.size.all %}
                                                <label class="mt-1" for="{{size.size_name}}">{{size.size_name}}
                                                    <input type="radio" id="{{size.size_name}}">
                                                </label>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                            <div class="product__details__option__color" style="margin-top: -18px;">
                                                <span>Color:</span>
                                                {% for colr in product.color.all %}
                                                <label class="c-{{forloop.counter}} mt-{{forloop.counter}}"
                                                    for="sp-{{forloop.counter}}"
                                                    style="background-color:{{colr.color_select}}">
                                                    <input type="radio" id="sp-{{forloop.counter}}">
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="product__details__cart__option">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                            <button type='button' data-id="{{product.id}}"
                                                class="primary-btn addtocartprod">add to
                                                cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 text-center">
                <div class="product__details__content">
                    <div class="container">
                        <div class="product__details__last__option">
                            <h5><span>Guaranteed Safe Checkout</span></h5>
                            <img src="{% get_static_prefix %}img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>Categories:</span> {{product.category.title}}</li>
                                <li><span>Tag:</span> {{product.tages}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-5" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                Previews(5)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Specifications</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-5" role="tabpanel">
                            <div class="product__details__tab__content">
                                {{product.description|safe}}
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-6" role="tabpanel">
                            <div class="product__details__tab__content">
                                <div class="product__details__tab__content__item">
                                    <h5>Products Infomation</h5>
                                    <p>A Pocket PC is a handheld computer, which features many of the same
                                        capabilities as a modern PC. These handy little devices allow
                                        individuals to retrieve and store e-mail messages, create a contact
                                        file, coordinate appointments, surf the internet, exchange text
                                        messages
                                        and more. Every product that is labeled as a Pocket PC must be
                                        accompanied with specific software to operate the unit and must
                                        feature
                                        a touchscreen and touchpad.</p>
                                    <p>As is the case with any new technology product, the cost of a Pocket
                                        PC
                                        was substantial during it’s early release. For approximately
                                        $700.00,
                                        consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                        These days, customers are finding that prices have become much more
                                        reasonable now that the newness is wearing off. For approximately
                                        $350.00, a new Pocket PC can now be purchased.</p>
                                </div>
                                <div class="product__details__tab__content__item">
                                    <h5>Material used</h5>
                                    <p>Polyester is deemed lower quality due to its none natural quality’s.
                                        Made
                                        from synthetic materials, not natural like wool. Polyester suits
                                        become
                                        creased easily and are known for not being breathable. Polyester
                                        suits
                                        tend to have a shine to them compared to wool and cotton suits, this
                                        can
                                        make the suit look cheap. The texture of velvet is luxurious and
                                        breathable. Velvet is a great choice for dinner party jacket and can
                                        be
                                        worn all year round.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-7" role="tabpanel">
                            <div class="product__details__tab__content">
                                {{product.specification|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->

<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% get_static_prefix %}img/product/product-1.jpg">
                        <span class="label">New</span>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="product__item__text">
                                <h6>Piqué Biker Jacket</h6>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>$67.24</h5>

                            </div>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button title="Add to cart" class="btn btn-primary addtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button title="Add to wishlist" class="btn btn-danger mt-1">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% get_static_prefix %}img/product/product-2.jpg">
                        <span class="label">New</span>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="product__item__text">
                                <h6>Piqué Biker Jacket</h6>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>$67.24</h5>

                            </div>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button title="Add to cart" class="btn btn-primary addtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button title="Add to wishlist" class="btn btn-danger mt-1">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% get_static_prefix %}img/product/product-3.jpg">
                        <span class="label">Sale</span>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="product__item__text">
                                <h6>Multi-pocket Chest Bag</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>$43.48</h5>

                            </div>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button title="Add to cart" class="btn btn-primary addtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button title="Add to wishlist" class="btn btn-danger mt-1">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">

                <div class="product__item sale">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% get_static_prefix %}img/product/product-4.jpg">
                        <span class="label">Sale</span>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="product__item__text">
                                <h6>Multi-pocket Chest Bag</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>$60.9</h5>

                            </div>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button title="Add to cart" class="btn btn-primary addtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button title="Add to wishlist" class="btn btn-danger mt-1">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Section End -->

{% endblock mainbody %}

{% block jsblock %}
<script>
    $('.addtocartprod').click(function (e) {
        e.preventDefault();
        var csrf_token = $("input[name='csrfmiddlewaretoken']").val()
        var catid = $(this).attr("data-id");
        $.ajax({
            type: "POST",
            url: "{% url 'cart' %}",
            data: {
                csrfmiddlewaretoken: csrf_token,
                prod_id: catid
            },
            success: function (data) {

                alert("Added")
            }
        })
    });
</script>
{% endblock jsblock %}